<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/account-styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-9">
				
				<% if (!accreditor == "") { %>
					<div class="container text-center departmentTitle">
						<h4>Departments.</h4>
						<div class="row departmentRow" id="departmentRow" style="padding-bottom: 30px;">

							<% departments.forEach(function(department, i) { %>
								<div class="col-3 departmentCol">
									<div class="container departmentTile switch_account" id="<%= i %>">
										<div class="addDepartmentText" id="<%= i %>text">
											<h2 class=""><%= department.name %></h2>
											<h3>Switch Account</h3>
										</div>
										<form action="" id="switch-form">
											<fieldset class="form-group enterPass" id="<%= i %>enterPass">
												<div class="row justify-content-md-center">
													<div class="form-group">
														<h2 type="email" id="departmentEmail"  name="departmentEmail" style="padding-bottom: 15px; font-size: 15px;"><%= department.email %></h2>
														<input type="password" name="switchPass" id="switchPass" placeholder="Enter Password" style="text-align: center; border-radius: 15px; background-color: lightgrey;">
													</div>
													<div class="form-group form-button">
														<input type="submit" name="deparmentLogin" id="departmentLogin" class="form-submit" value="Switch"/>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
								</div>
							<% }); %>

							<div class="col-3">
								<div class="container departmentTile add_department">
									<img class="addDepartmentImg" src="../images/Undraw/undraw_add_files_re_v09g.svg">
									<div class="addDepartmentText">
										<h2 class="">Add Department</h2>
									</div>
								</div>
							</div>
						</div>

						<div class="container text-center">
							<div id="department_form" class="button_close">
								<form action="" id="add-department-form">
									<fieldset class="form-group">
										<legend class="border-bottom mb-4">New Department</legend>


										<div class="form-group">
											<h2 class="departmenth2">Depmartment Name:</h2>
											<input type="" name="name" id="name" class="departmentInput">
										</div>

										<div class="form-group">
											<h2 class="departmenth2">Email:</h2>
											<input type="" name="email" id="email" class="departmentInput">
										</div>

										<div class="form-group">
											<h2 class="departmenth2">Password:</h2>
											<input type="password" name="password" id="pass" class="departmentInput">
										</div>

										<div class="form-group">
											<h2 class="departmenth2">Repeat Password:</h2>
											<input type="password" name="password" id="rePass" class="departmentInput">
										</div>

										<div class="row justify-content-md-center">
											<div class="form-group form-button">
												<input type="submit" name="account" id="account" class="form-submit" value="Submit" style="margin-right: 2px;" />
											</div>
											<div class="">
												<h2 type="submit" name="cancelButton" id="cancelButton" class="form-submit" style="margin-left: 2px; font-size: 15px;" >Cancel</h2>
											</div>
										</div>


									</fieldset>
									<div class="form-group">
									</div>

								</form>
							</div>
						</div>
					</div>
					<div class="container-fluid close" style="height: 7vw;">
					</div>
				<% } %>

				<div class="container text-center departmentTitle2">
					<h4>Awarded Degrees.</h4>
					<section class="ftco-section">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="">
										<table class="table myaccordion table-hover" id="accordion" style="margin-top: 40px;">
										  <thead>
										    <tr class="tableHeader">
										      <th style="padding: 20px;">#</th>
										      <th style="padding: 20px;">Student</th>
										      <th style="padding: 20px;">Degree Title</th>
										      <th style="padding: 20px;">Degree Type</th>
										      <th style="padding: 20px;">Department</th>
										      <th style="padding: 20px;">Grade</th>
										      <th style="padding: 20px;">Date</th>
										      <th style="padding: 20px;">&nbsp;</th>
										    </tr>
										  </thead>

										  <tbody>

											  <% certificateArray.forEach(function(certificate, i) { %>

											    <tr data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>" class="tableContent" style="width: 10000px;">
											      <th scope="row" style="padding: 15px;"><%= i+1 %></th>
											      <td style="padding: 15px;"><%= certificateArray[i].studentName %></td>
											      <td style="padding: 15px;"><%= certificateArray[i].title %></td>
											      <td style="padding: 15px;"><%= certificateArray[i].type %></td>
											      <td style="padding: 15px;"><%= certificateArray[i].department %></td>
											      <td style="padding: 15px;"><%= certificateArray[i].grade %></td>
											      <td style="padding: 15px;"><%= certificateArray[i].date %></td>
									        	  <td style="padding: 15px;"></td>
											    </tr>
											    <tr>
											    	<td colspan="8" id="collapse<%= i %>" class="collapse acc" data-parent="#accordion">
											    		<div class="container-fluid content-section" style="margin-bottom: 30px;">
															<div class="row">
																<div class="col">
																	<fieldset class="form-group">
																		<div class="row">
																			<img class="certificate-icon" src="../images/certificate.png" alt="">
																			<div class="col border-bottom mb-5">
																				<h1 style="transform: translateX(-25%);">Awarded Degree</h1>
																			</div>
																			<div class="col border-bottom mb-5">
																				<h2 class="certificate-date"><%= certificateArray[i].date %></h2>
																			</div>
																		</div>

																		<div class="row">
																			<div class="col"></div>
																			<div class="col" style="transform: translateX(-12%);"><img class="uniCrest" src="../images/manchesterUniCrest.png" alt=""></div>
																			<div class="col"></div>
																			
																		</div>

																		<div class="row">
																			<div class="col"></div>
																			<h1 class="certificate-accreditor"><%= certificateArray[i].accreditor %></h1>
																			<div class="col"></div>
																		</div>

																		<div class="row">
																			<div class="col"></div>
																			<div class="col text-align">
																				<div class="form-group">
																					<h2><u>Degree Type:</u></h2>
																					<p><%= certificateArray[i].type %></p>
																				</div>

																				<div class="form-group">
																					<h2><u>Subject: </u></h2>
																					<p><%= certificateArray[i].title %></p>
																				</div>

																				<div class="form-group">
																					<h2><u>Classification: </u></h2>
																					<p><%= certificateArray[i].grade %></p>
																				</div>	
																			</div>
																			<div class="col"></div>
																		</div>

																		<div class="row" style="transform: translateY(20px);">
																			<div class="col" style="text-align: left;">
																				<h3><%= certificateArray[i].accreditor %> Wallet: <%= certificateArray[i].accreditorId %><h3>		
																			</div>
																			<div class="col" style="text-align: right;">
																				<h3><%= certificateArray[i].studentName %> wallet: <%= certificateArray[i].studentId %></h3>
																			</div>
																		</div>

																	</fieldset>
																</div>
															</div>
														</div>
											    	</td>
											    </tr>

											  <% }); %>
										  
										  </tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="col-3">
				<div class="container profileCol">
					<h4>Profile.</h4>
				</div>
				<div class="container profile text-align">
					<img class="profilePic" style="color: white;" src="../images/userWhite.svg" alt="">
					<h2 style="padding-top: 15px; color: white;"><%= name %></h2>
					<h3 style="padding-top: 10px; color: white"><%= email %></h3>
					<h3 style="padding-top: 10px; color: white">Wallet ID:</h3>
					<h3 id="walletId" style="color: white"><%= walletId %></h3>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer class="page-footer font-small blue" style="margin-top: 500px;">

	  <div class="footer-copyright text-center py-3">© 2022 Copyright:
	    <a href=""> Data-chain.org</a>
	  </div>

	</footer>




	<script src="/javascript/jquery.min.js"></script>
  	<script src="/javascript/bootstrap.min.js"></script>
  	<script src="/javascript/accreditorAccount.js"></script>


</body>